server {

listen 80;

server_name example.com; location / {

     return 301 https://$host$request_uri;

}

}server {

#listen 443 ssl;
listen ${NGINX_PORT} ssl;

# server_name thibaultperonno.io/to-do-list;
server_name ${NGINX_HOST};


location / {
    # need change the proxy pass path
     proxy_pass http://app:8080;

}

}